.navigation-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.search-section {
    height: 35px;
    box-sizing: border-box;
    width: 30%;
}
.search-section input {
    height: 100%;
    width: 100%;
    border: 1px solid gray;
}
.sell-link {
    display: flex;
    gap: 20px;
}
.loggedIn-userIcon {
    margin-right: var(--m-x);
}
.loggedIn-userIcon img {
    width: 100%;
    border-radius: 50%;
}

.menu-userInfo-container {
    padding: 8px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}
.menu-img-container img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.menu-greeting-container .name {
    font-weight: 500;
}

@media screen and (max-width: 500px) {
    .search-section {
        order: 3;
        width: 98%;
        display: block;
        margin: var(--m-y) auto;
    }
}
