<div class="container">
    <div class="categories" [ngClass]="selectedCategory? 'hide': ''">

        <h2>Categories</h2>
        <mat-selection-list #categoryList [multiple]="false" [(ngModel)]="selectedCategory" (ngModelChange)="onSelection($event)">
            <mat-list-option *ngFor="let category of categories" [value]="category">
              {{category.categoryTypeName}}
            </mat-list-option>
        </mat-selection-list>

    </div>

    <div class="post" *ngIf="selectedCategory">
        <resell-post-product-form 
        [currentCategory]="selectedCategory[0]"
        (isBackBtnClicked)="onBackBtnClicked($event)"
        (onSubmit)="createPost($event)">
        </resell-post-product-form>
    </div>
</div>