/* You can add global styles to this file, and also import other style files */
:root {
    --m-x : 10px;
    --m-y : 15px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field.input-block {
    display: block;
}


/* ::-webkit-scrollbar {
    z-index: 100
} */