/* You can add global styles to this file, and also import other style files */
:root {
    --m-x : 10px;
    --m-y : 15px;
    --primary-color: #3f51b5
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field.input-block {
    display: block;
}

.border {
    border: 1px solid gray;
}

.border.highlight {
    border: 1px solid var(--primary-color);
}

.subtitle-bold {
    font-weight: 500 !important;
}


/* ::-webkit-scrollbar {
    z-index: 100
} */